body,
html {
  min-height: 100%;
}
@media screen and (max-width: 768px) {
  .container,
  .container-fluid {
    padding: 0 3px;
  }
}
a {
  text-decoration: none;
}
svg {
  width: auto;
  height: 30px;
}
label {
  color: #777777;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 50;
}
.tab-contents {
  min-height: 100px;
}

/** TOP NAVIGATION */
.top-nav {
  position: relative;
  border-bottom: 0.7px solid #001955;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  min-height: 48px;
  z-index: 100;
}
.top-nav .toggler {
  width: 56px;
  position: relative;
}
.top-nav .toggler > button {
  color: #001955;
  border: none !important;
}

.top-nav i {
  font-size: 16pt;
}
.top-nav .user-menu button {
  position: relative;
}
.top-nav .user-menu button.user {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  font-size: smaller;
}

/** SIDE BAR */
aside.side-bar {
  width: 250px;
  min-height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  bottom: 0;
  transition: margin-left 0.2s ease-in;
  border-right: 0.6px solid #e2e1e1;
  background-color: #ffffff;
  overflow-y: auto;
  margin-left: -250px;
  z-index: 99;
}
aside.side-bar.maximized {
  margin-left: 0;
}
aside.side-bar > ul {
  margin: 1.7em 0;
}
aside.side-bar ul {
  list-style: none;
  padding: 0;
  transition: all 0.1s ease;
}
aside.side-bar ul li {
  overflow: hidden;
  border-bottom: 1.6px solid #e2e1e1;
}
aside.side-bar ul li a {
  color: rgb(49, 49, 49);
  font-weight: 500;
  display: block;
  padding: 0.4em 0.7em;
  transition: background-color 0.4s ease;
}
aside.side-bar ul li a:hover,
aside.side-bar ul li a:focus {
  background-color: #f5f1f1;
}
aside.side-bar ul ul {
  padding: 1;
  background-color: #f1f1f1;
  display: none;
  border-bottom: 1.5px solid #c0c0c0;
}
aside.side-bar ul > li.active {
  border-left: 3px #001955 solid;
}
aside.side-bar div > ul > li.active > a {
  border-bottom: 1px #cecece solid;
  background-color: #001955;
  color: #ffffff;
  transition: all 0.2s ease;
}
aside.side-bar ul li ul li.active a {
  font-weight: 700;
  position: relative;
}
aside.side-bar ul li a .toggler {
  float: right;
  transition: ease-in-out 0.1s transform;
}
aside.side-bar ul li a .toggler.rotated {
  transform: rotate(-180deg);
}
aside.side-bar ul li.collapsed ul {
  display: block;
}
aside.side-bar .user-name-box {
  border-bottom: #c0c0c0 2.3px solid;
}
@media screen and (max-width: 768px) {
  aside.side-bar {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}
/* MAIN CONTENTS */
main.main-contents {
  min-height: calc(100% - 50px);
  margin-top: 60px;
  transition: margin-left 0.2s ease-in;
  position: relative;
}
main.main-contents.full {
  margin-left: 250px;
}
.form-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
  transition: all 0.2s ease-in;
}
.form-overlay .form-container {
  background-color: #ffffff;
  max-width: 600px;
  min-width: 300px;
  min-height: 350px;
  display: block;
  overflow: auto;
}

main.main-contents.full .form-overlay {
  width: calc(100vw - 250px);
}
@media screen and (max-width: 768px) {
  main.main-contents {
    margin-left: 0;
  }
  main.main-contents.full {
    margin-left: 0;
  }
}

/** dashboard */
.summary-cards .card {
  margin-bottom: 1.4em;
}

/** Registration forms general forms */
form .grouped-fields {
  margin-bottom: 0.6em;
}
form .grouped-fields .title {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16pt;
  color: #001955;
  background-color: #dce5fc;
}

/** VSLA tables */
.vsla-list tbody tr {
  cursor: pointer;
}
.vsla-list .vsla-container {
  box-shadow: rgb(0 0 0 / 10%) -1px 1px 3px 0px;
  border-radius: 6px;
  overflow: hidden;
}
.vsla-list .vsla-container h3 {
  border-top-width: 2px !important;
}
@media screen and (max-width: 768px) {
  .idcardCell {
    display: none;
  }
}
